<div class="col-xs-6 col-xs-offset-3">
  <div class="text-center">
    <h1>Add a new review</h1>
  </div>

  <%= render 'form' %>

  <div class="text-center">
    <%= link_to "Return to restaurant", restaurant_path(@restaurant), class: 'btn btn-primary' %>
    <%= link_to "Return to index", restaurants_path, class: 'btn btn-primary' %>
  </div>
</div>
